.container{
	margin:0;
	width: 100%;
	height: 100%;
}

.imgGamers{
	text-align: center;
}

.general {
   
   display: flex;
}

h1, .title  {
	font-family: 'Risque','Bungee Inline', Arial;
    color: #F9AB82;
    font-size: 24px;
    display: flex;
}

.button {

}